@media  screen and (max-width: 800px) {
	#header{
		background-color: #f1efef;
		.image{
			width: 189px;
		}
		#nav{
			display: none;
		}
		#rectangle{
			border-color: white;
			margin: 25px;
			div{
				background-color: white;
			}
		}
		#menu{
			width: 100%;
		}
	}
	main{
		section{
			#scroller{
				h1{
					font-size: 43px;
					left: 0;
					width: 100%;
				}
				h4{
					margin-left: 38.5%;
				}
				.circle{
					display: none;
				}
				.btn{
					left: 29%;
				}
			}
			article{
				overflow: inherit;
				a{
					.map{
						display: none;
					}
				}
				form{
					width: 100%;
					float: none;
					padding-top: 20%;
					height: 370px;
					h5{
						margin-top: 0;
						margin-left: 49%;
					}
					h3{
						left: 30%;
					}
					.check1{
						width: 60%;
					}
					.check{
						margin-left: 35%;
					}
					.btn1{
						margin-left: 34%;
						margin-top: 40%;
					}
				}
				
			}
		}
		.why{
			display: none;
		}
		#why{
			display: none;
		}
		aside{
			margin-left: 0;
			margin-top: 0;
			width: 98%;
			.news{
				margin-left: 39%;
				margin-bottom: 10%;
			}
			.bank{
				width: 98%;
				margin-bottom: 5%;
				a{
					#marg{
						margin-left: 0;
					}
				}
			}
		}
		footer{
			margin-left: 0;
			.twitter{
				margin-left: 32%;
			}
			p{
				margin-left: 18%;
			}
			h5{
				margin-left: 20%;
			}
			form{
				margin-left: 3%;
				.name{
					width: 100%;
					margin-top: 10%;
					
				}
				#e-mail{
					margin-left: 0;
				}
				.message{
					width: 95%;
				}
				.btn-2{
					margin-left: 26%;
				}
			}
		}
	}
	footer{
		display: none;
	}
	
}
@media screen and (min-width: 1280px) {
	#body{
		width: 1280px;
	}
	
}
@media screen and (min-width: 800px) and (max-width: 1280px){
	#header{
		height: 200px;
		a{
			.image{
				margin-top: 55px;
			}
		}
		nav{
			height: 150px;
			margin-left: 25%;
			#nav{
				height: 150px;
				margin-top: 0;
				li{
					margin-right: 23%;
				}
				a:nth-child(4){
					li{
						margin-top: 10%;
   		 				margin-right: 26%;
   		 				margin-left: 2%;
					}
				}
				a:nth-child(5){
					li{
						margin-right: 21%;
					}
				}
				a:nth-child(6){
					margin-right: 0;
				}
			}
		}
		#rectangle{
			margin-right: 3%;
		    margin-top: 60px;
		    margin-left: 0;
		}
		#menu{
			width:30%;
		}
	}
	main{
		section{
			#scroller{
				.scroll{
					h4{
						margin: 10% 42.5%;
					}
					h1{
						width: 66%;
						left: 17%;
						text-align: -webkit-center;
					}
					.circle{
						display: none;
					}
					.btn{
						top: 70%;
						left: 40%;
					}
				}
			}
			article{

				form{
					float: none;
					width: 100%;
					height: 420px;
					h5{
						margin-left: 50%;
    					margin-top: 5%;
					}
					h3{
						width: 16%;
						left: 44%;
					}
					.check1{
						width: 300px;
						margin-top: 125px;
						margin-left: 36%;
					}
					.check{
						margin-left: 33%;
    					margin-top: 50%;
					}
					.btn1{
						margin-left: 42%;
    					margin-top: 222px;
					}
				}
				.map{
					display: none;
				}
				
			}
		}
		#why{
			.offer{
				width: 65%;
				padding-left: 20%;
				span{
					display: none;
				}
			}
			.show{
				margin-left: 43%;
			}
			
		}
		#news{
			.news{

				margin: 5% 38.5%;
			}
			.bank{
				margin-left: 2%;
			}
		}
		#contacts{
			.contacts{
				    margin-left: 36%;
			}
			.twitter{
				margin-left: 33%;
				.net{
					margin: 0;
				}
			}
			p{
				margin-left: 2%;
			}
			h5{
				margin-left: 4%;
			}
			.btn2{
				margin-left: 35%;
			}
		}
	}
}
@media screen and (min-width: 550px) and (max-width: 800px){

}