@media  screen and (max-width: 500px) {
	#header{
		background-color: red;
		#nav{
			display: none;
		}
		#rectangle{
			border-color: white;
			div{
				background-color: white;
			}
		}
		#menu{
			width: 100%;
		}
	}
	main{
		section{
			#scroller{
				h1{
					font-size: 43px;
					left: 0;
					width: 100%;
				}
				h4{
					margin-left: 38.5%;
				}
				.circle{
					display: none;
				}
				.btn{
					left: 29%;
				}
			}
			article{
				overflow: inherit;
				a{
					.map{
						display: none;
					}
				}
				form{
					width: 100%;
					float: none;
					padding-top: 20%;
					height: 370px;
					h5{
						margin-top: 0;
					}
					h3{
						left: 30%;
					}
					.check1{
						width: 60%;
					}
					.check{
						margin-left: 35%;
					}
				}
				
			}
		}
		.why{
			display: none;
		}
		#why{
			display: none;
		}
		aside{
			margin-left: 0;
			margin-top: 0;
			width: 98%;
			.news{
				margin-left: 44%;
				margin-bottom: 10%;
			}
			.bank{
				width: 98%;
				margin-bottom: 5%;
				a{
					#marg{
						margin-left: 0;
					}
				}
			}
		}
		footer{
			margin-left: 0;
			.twitter{
				margin-left: 32%;
			}
			p{
				margin-left: 18%;
			}
			h5{
				margin-left: 20%;
			}
			form{
				margin-left: 3%;
				.name{
					width: 100%;
					margin-top: 10%;
					
				}
				#e-mail{
					margin-left: 0;
				}
				.message{
					width: 95%;
				}
				.btn-2{
					margin-left: 33%;
				}
			}
		}
	}
	footer{
		display: none;
	}
	
}