@media screen and (max-width: 800px) {
  #header {
    background-color: #f1efef; }
    #header .image {
      width: 189px; }
    #header #nav {
      display: none; }
    #header #rectangle {
      border-color: white;
      margin: 25px; }
      #header #rectangle div {
        background-color: white; }
    #header #menu {
      width: 100%; }

  main section #scroller h1 {
    font-size: 43px;
    left: 0;
    width: 100%; }
  main section #scroller h4 {
    margin-left: 38.5%; }
  main section #scroller .circle {
    display: none; }
  main section #scroller .btn {
    left: 29%; }
  main section article {
    overflow: inherit; }
    main section article a .map {
      display: none; }
    main section article form {
      width: 100%;
      float: none;
      padding-top: 20%;
      height: 370px; }
      main section article form h5 {
        margin-top: 0;
        margin-left: 49%; }
      main section article form h3 {
        left: 30%; }
      main section article form .check1 {
        width: 60%; }
      main section article form .check {
        margin-left: 35%; }
      main section article form .btn1 {
        margin-left: 34%;
        margin-top: 40%; }
  main .why {
    display: none; }
  main #why {
    display: none; }
  main aside {
    margin-left: 0;
    margin-top: 0;
    width: 98%; }
    main aside .news {
      margin-left: 39%;
      margin-bottom: 10%; }
    main aside .bank {
      width: 98%;
      margin-bottom: 5%; }
      main aside .bank a #marg {
        margin-left: 0; }
  main footer {
    margin-left: 0; }
    main footer .twitter {
      margin-left: 32%; }
    main footer p {
      margin-left: 18%; }
    main footer h5 {
      margin-left: 20%; }
    main footer form {
      margin-left: 3%; }
      main footer form .name {
        width: 100%;
        margin-top: 10%; }
      main footer form #e-mail {
        margin-left: 0; }
      main footer form .message {
        width: 95%; }
      main footer form .btn-2 {
        margin-left: 26%; }

  footer {
    display: none; } }
@media screen and (min-width: 1280px) {
  #body {
    width: 1280px; } }
@media screen and (min-width: 800px) and (max-width: 1280px) {
  #header {
    height: 200px; }
    #header a .image {
      margin-top: 55px; }
    #header nav {
      height: 150px;
      margin-left: 25%; }
      #header nav #nav {
        height: 150px;
        margin-top: 0; }
        #header nav #nav li {
          margin-right: 23%; }
        #header nav #nav a:nth-child(4) li {
          margin-top: 10%;
          margin-right: 26%;
          margin-left: 2%; }
        #header nav #nav a:nth-child(5) li {
          margin-right: 21%; }
        #header nav #nav a:nth-child(6) {
          margin-right: 0; }
    #header #rectangle {
      margin-right: 3%;
      margin-top: 60px;
      margin-left: 0; }
    #header #menu {
      width: 30%; }

  main section #scroller .scroll h4 {
    margin: 10% 42.5%; }
  main section #scroller .scroll h1 {
    width: 66%;
    left: 17%;
    text-align: -webkit-center; }
  main section #scroller .scroll .circle {
    display: none; }
  main section #scroller .scroll .btn {
    top: 70%;
    left: 40%; }
  main section article form {
    float: none;
    width: 100%;
    height: 420px; }
    main section article form h5 {
      margin-left: 50%;
      margin-top: 5%; }
    main section article form h3 {
      width: 16%;
      left: 44%; }
    main section article form .check1 {
      width: 300px;
      margin-top: 125px;
      margin-left: 36%; }
    main section article form .check {
      margin-left: 33%;
      margin-top: 50%; }
    main section article form .btn1 {
      margin-left: 42%;
      margin-top: 222px; }
  main section article .map {
    display: none; }
  main #why .offer {
    width: 65%;
    padding-left: 20%; }
    main #why .offer span {
      display: none; }
  main #why .show {
    margin-left: 43%; }
  main #news .news {
    margin: 5% 38.5%; }
  main #news .bank {
    margin-left: 2%; }
  main #contacts .contacts {
    margin-left: 36%; }
  main #contacts .twitter {
    margin-left: 33%; }
    main #contacts .twitter .net {
      margin: 0; }
  main #contacts p {
    margin-left: 2%; }
  main #contacts h5 {
    margin-left: 4%; }
  main #contacts .btn2 {
    margin-left: 35%; } }

/*# sourceMappingURL=responsive.css.map */
