main section #scroller {
  position: relative;
  height: 570px;
  width: 100%; }
  main section #scroller h4 {
    width: 86px;
    text-transform: uppercase;
    font-size: 9px;
    height: 17px;
    position: absolute;
    text-align: center;
    padding: 6px 15px 0 15px;
    color: #fff;
    margin-right: 0;
    font-weight: bold;
    margin: 10% 44.5%;
    display: block;
    font-size: 12px; }
    main section #scroller h4:before {
      content: "";
      display: block;
      position: absolute;
      border-top: 2px solid #fff;
      top: 55%;
      width: 20px;
      left: -6px; }
    main section #scroller h4:after {
      content: "";
      display: block;
      position: absolute;
      border-top: 2px solid #fff;
      top: 55%;
      width: 20px;
      right: -6px; }
  main section #scroller h1 {
    color: #fff;
    top: 30%;
    position: absolute;
    left: 23%;
    font-size: 58px;
    width: 670px;
    text-align: center;
    height: 86px;
    margin: 0;
    font-family: "PFSquareSansPro-Regular"; }
  main section #scroller .circle {
    border: 3px solid #da352c;
    width: 30px;
    height: 30px;
    border-radius: 70%;
    float: right;
    margin-top: 15%;
    margin-right: 3%; }
    main section #scroller .circle .point {
      background: #da352c;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin: 13px; }
    main section #scroller .circle .round {
      border: 2px solid white;
      width: 12px;
      height: 12px;
      border-radius: 70%;
      float: right;
      margin-top: 85%;
      margin-right: 21%; }
  main section #scroller .btn {
    width: 220px;
    height: 60px;
    background-color: #da352c;
    border: none;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 65%;
    left: 41%; }
    main section #scroller .btn:hover, main section #scroller .btn:focus {
      opacity: 0.4; }
  main section #scroller .mouse {
    top: 85%;
    position: absolute;
    left: 49%; }
main section article {
  overflow: auto; }
  main section article .map {
    background: url(images/map1.png) no-repeat;
    position: absolute;
    width: 50%;
    height: 540px;
    float: left;
    z-index: -1; }
    main section article .map .sign {
      position: relative;
      z-index: -1;
      margin-top: 20%;
      left: 39.5%; }
    main section article .map .round {
      background-color: red;
      border-radius: 50px;
      width: 50px;
      height: 50px;
      margin-top: -22%;
      margin-left: 46%; }
  main section article form {
    float: right;
    width: 50%;
    position: relative;
    background-color: #fcfcfc;
    height: 540px;
    overflow: hidden; }
    main section article form h5 {
      color: red;
      margin-left: 50%;
      margin-top: 20%;
      text-transform: uppercase;
      position: relative;
      font-weight: bold;
      height: 22px; }
      main section article form h5:before {
        content: "";
        display: block;
        position: absolute;
        border-top: 2px solid #e7e7e7;
        top: 35%;
        width: 20px;
        left: -35px; }
      main section article form h5:after {
        content: "";
        display: block;
        position: absolute;
        border-top: 2px solid #e7e7e7;
        top: 37%;
        width: 20px;
        left: 40px; }
    main section article form h3 {
      color: #000;
      position: absolute;
      text-transform: uppercase;
      width: 215px;
      text-align: -webkit-center;
      left: 37%;
      font-weight: bold; }
    main section article form .check1 {
      border: none;
      width: 390px;
      border-bottom: 2px solid #b5b5b5;
      text-align: -webkit-left;
      text-transform: uppercase;
      padding-bottom: 20px;
      position: absolute;
      margin-top: 20%;
      margin-left: 23%;
      font-style: italic; }
    main section article form .btn1 {
      width: 180px;
      height: 50px;
      background-color: #da352c;
      border: none;
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      margin-left: 40%;
      margin-top: 35%;
      font-family: "PFSquareSansPro-Bold"; }
      main section article form .btn1:hover, main section article form .btn1:focus {
        opacity: 0.4; }
main .why {
  width: 112px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  height: 17px;
  position: relative;
  text-align: -webkit-center;
  padding: 6px 15px 0 15px;
  color: #da352c;
  margin: 5% 45.5%;
  display: block; }
  main .why:before {
    content: "";
    display: block;
    position: absolute;
    border-top: 2px solid #dfdede;
    top: 50%;
    width: 20px;
    left: 0px;
    z-index: -1; }
  main .why:after {
    content: "";
    display: block;
    position: absolute;
    border-top: 2px solid #dfdede;
    top: 50%;
    width: 20px;
    right: 0px;
    z-index: -1; }
main article {
  overflow: auto; }
  main article .offer {
    width: 37%;
    float: left;
    position: relative;
    padding-left: 9%;
    padding-right: 50px; }
    main article .offer h6 {
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 2.083;
      text-align: left;
      width: 120px; }
      main article .offer h6:after {
        content: "";
        border-bottom: 1px solid #da352c;
        width: 25px;
        display: block; }
    main article .offer span {
      float: right;
      position: absolute;
      top: 3%;
      right: 31%;
      font-size: 127px;
      color: #e9e9e9; }
    main article .offer p {
      margin-bottom: 20%; }
    main article .offer .numb {
      position: relative;
      margin-top: -147px; }
    main article .offer .second {
      margin-bottom: 23.5%; }
  main article .show {
    position: relative;
    float: left;
    margin-left: 47%; }
    main article .show img {
      position: absolute;
      top: -2px; }
    main article .show span {
      margin-left: 40px;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.917;
      color: #da352c;
      text-transform: uppercase; }
main aside {
  float: left;
  padding-left: 9%;
  background-color: #fcfcfc;
  margin-top: 5%;
  width: 89%; }
  main aside .news {
    float: left;
    width: 112px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    height: 20px;
    position: relative;
    text-align: -webkit-center;
    padding: 6px 15px 0 15px;
    color: #da352c;
    margin: 5% 43.5%;
    display: block; }
    main aside .news:before {
      content: "";
      display: block;
      position: absolute;
      border-top: 2px solid #c2bebe;
      top: 50%;
      width: 20px;
      left: 0px; }
    main aside .news:after {
      content: "";
      display: block;
      position: absolute;
      border-top: 2px solid #c2bebe;
      top: 50%;
      width: 20px;
      right: 0px; }
  main aside .bank {
    float: left;
    width: 46%;
    margin-left: 4%; }
    main aside .bank .day {
      position: absolute;
      font-size: 22px;
      line-height: 0.909;
      text-align: left;
      float: left;
      margin-top: 0;
      color: #d3d3d3; }
    main aside .bank .month {
      display: block; }
    main aside .bank .year {
      font-size: 12px;
      border-top: 2px solid red;
      padding-top: 2px; }
    main aside .bank div {
      margin-top: -22px; }
      main aside .bank div h3 {
        margin-left: 20%;
        color: black;
        font-weight: bold; }
      main aside .bank div p {
        margin-left: 20%; }
main footer {
  float: left;
  width: 90%;
  margin-top: 35px;
  height: 100%;
  border: none;
  margin-bottom: 12%;
  height: 100%;
  border: none;
  overflow: hidden;
  display: block;
  margin-left: 9%; }
  main footer .contacts {
    font-size: 50px;
    line-height: 1;
    margin-left: 41%;
    font-family: "PFSquareSansPro-Light";
    height: 35px;
    width: 15%; }
  main footer .net {
    margin-right: 15%; }
    main footer .net li {
      display: inline-block;
      text-indent: -9999px;
      width: 43px;
      height: 41px; }
    main footer .net a:first-child li {
      background: url(images/facebook1.png) no-repeat; }
      main footer .net a:first-child li:hover, main footer .net a:first-child li:focus {
        background-position: 0 -42px; }
    main footer .net a:last-child li {
      background: url(images/google1.png) no-repeat; }
      main footer .net a:last-child li:hover, main footer .net a:last-child li:focus {
        background-position: 0 -41px; }
  main footer .twitter, main footer p, main footer h5 {
    text-align: center; }
  main footer .twitter {
    width: 212px;
    margin-left: 38%;
    margin-top: 4%; }
  main footer p {
    margin-top: 15px;
    width: 89%;
    font-weight: bold;
    margin-left: 4%; }
    main footer p span {
      margin-left: 15px;
      color: red;
      border-bottom: 1px solid red; }
  main footer h5 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: 6%;
    width: 84%;
    font-weight: bold; }
    main footer h5 span {
      font-size: 16px;
      margin-right: 6px; }
  main footer form {
    width: 100%; }
    main footer form .name {
      border: none;
      width: 47%;
      border-bottom: 2px solid #d9d9d9;
      padding-bottom: 15px;
      text-transform: uppercase;
      font-weight: bold; }
    main footer form #e-mail {
      margin-left: 2%; }
    main footer form .message {
      width: 95.7%;
      height: 130px;
      margin-top: 30px;
      line-height: 2;
      color: #d9d9d9;
      text-indent: 3%;
      font-size: x-large;
      font-family: "PFSquareSansPro-Regular"; }
    main footer form .btn2 {
      width: 215px;
      height: 60px;
      background-color: #da352c;
      border: none;
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      margin-left: 40%;
      margin-top: 5%;
      font-family: "PFSquareSansPro-Bold"; }
      main footer form .btn2:hover, main footer form .btn2:focus {
        opacity: 0.4; }

footer {
  width: 100%;
  height: 290px;
  border-top: 2px solid #da352c;
  overflow: auto;
  display: -webkit-inline-box;
  float: left; }
  footer .left {
    margin-left: 5%; }
    footer .left h2 {
      font-size: xx-large;
      color: #da352c; }
    footer .left p {
      margin-bottom: 0;
      margin-top: 15%;
      font-weight: bold; }
    footer .left h5 {
      margin-top: 7%;
      font-weight: bold; }
  footer ul {
    margin-left: 22%;
    list-style: none;
    margin-top: 3%; }
    footer ul li {
      margin-bottom: 35%;
      color: black;
      font-weight: bold; }
      footer ul li:hover, footer ul li:focus {
        opacity: 0.4; }
  footer #right {
    margin-left: 5%; }

@media screen and (max-width: 550px) {
  #header {
    background-color: #f1efef; }
    #header .image {
      width: 40%; }
    #header #nav {
      display: none; }
    #header #rectangle {
      border-color: white; }
      #header #rectangle div {
        background-color: white; }
    #header #menu {
      width: 100%; }

  main section #scroller h1 {
    font-size: 43px;
    left: 0;
    width: 100%; }
  main section #scroller h4 {
    margin-left: 38.5%; }
  main section #scroller .circle {
    display: none; }
  main section #scroller .btn {
    left: 29%; }
  main section article {
    overflow: inherit; }
    main section article a .map {
      display: none; }
    main section article form {
      width: 100%;
      float: none;
      padding-top: 20%;
      height: 370px; }
      main section article form h5 {
        margin-top: 0;
        margin-left: 49%; }
      main section article form h3 {
        left: 30%; }
      main section article form .check1 {
        width: 60%; }
      main section article form .check {
        margin-left: 35%; }
      main section article form .btn1 {
        margin-left: 34%;
        margin-top: 40%; }
  main .why {
    display: none; }
  main #why {
    display: none; }
  main aside {
    margin-left: 0;
    margin-top: 0;
    width: 98%; }
    main aside .news {
      margin-left: 39%;
      margin-bottom: 10%; }
    main aside .bank {
      width: 98%;
      margin-bottom: 5%; }
      main aside .bank a #marg {
        margin-left: 0; }
  main footer {
    margin-left: 0; }
    main footer .twitter {
      margin-left: 32%; }
    main footer p {
      margin-left: 18%; }
    main footer h5 {
      margin-left: 20%; }
    main footer form {
      margin-left: 3%; }
      main footer form .name {
        width: 100%;
        margin-top: 10%; }
      main footer form #e-mail {
        margin-left: 0; }
      main footer form .message {
        width: 95%; }
      main footer form .btn-2 {
        margin-left: 26%; }

  footer {
    display: none; } }
@media screen and (min-width: 1200px) {
  body {
    width: 1200px; } }
@media screen and (min-width: 800px) and (max-width: 1200px) {
  #header {
    height: 200px; }
    #header a .image {
      margin-top: 55px; }
    #header nav {
      height: 150px;
      margin-left: 25%; }
      #header nav #nav {
        height: 150px; }
        #header nav #nav li {
          margin-right: 23%; }
        #header nav #nav a:nth-child(4) li {
          margin-top: 10%;
          margin-right: 26%;
          margin-left: 2%; }
        #header nav #nav a:nth-child(5) li {
          margin-right: 21%; }
        #header nav #nav a:nth-child(6) {
          margin-right: 0; }
    #header #rectangle {
      margin-right: 6%;
      margin-top: 65px;
      margin-left: 0; }
    #header #menu {
      width: 100%; }

  main section #scroller .scroll h4 {
    margin: 10% 42.5%; }
  main section #scroller .scroll h1 {
    width: 60%; }
  main section #scroller .scroll .circle {
    display: none; }
  main section #scroller .scroll .btn {
    top: 70%;
    left: 36%; }
  main section article form h3 {
    width: 43%;
    left: 33%; }
  main section article form .check1 {
    width: 70%;
    margin-top: 25%; }
  main section article form .check {
    margin-left: 33%;
    margin-top: 50%; }
  main section article .map .round {
    margin-top: -36%;
    margin-left: 50%; }
  main #why .offer {
    width: 65%;
    padding-left: 20%; }
    main #why .offer span {
      display: none; }
  main #contacts .contacts {
    margin-left: 36%; }
  main #contacts .twitter {
    margin-left: 35%; }
  main #contacts .btn2 {
    margin-left: 35%; } }
body {
  margin: 0px auto;
  width: 100%;
  font-family: 'PT Sans',"PFSquareSansPro-Regular", Helvetica, Arial, sans-serif; }
  body header {
    height: 135px;
    position: relative; }
    body header .image {
      float: left;
      background: url(images/Rectangle22.png) no-repeat;
      height: 90px;
      width: 190px;
      text-align: center;
      padding-top: 9px;
      margin: 20px;
      padding-right: 11px;
      text-transform: uppercase;
      font-size: 260%;
      color: #ffffff;
      text-shadow: 8px 6px 12px #000;
      font-weight: 700; }
    body header nav {
      position: absolute;
      margin-left: 22%;
      top: 22px;
      width: 70%; }
      body header nav ul {
        width: 92%;
        margin-top: 9px;
        margin-left: 5%; }
        body header nav ul li {
          background: url(images/VectorSmartObject0.png) no-repeat;
          display: inline-block;
          margin-right: 10%;
          height: 37px;
          width: 57px;
          text-indent: 0;
          text-transform: uppercase; }
          body header nav ul li:hover, body header nav ul li:focus {
            background-position: 0 -37px; }
        body header nav ul a:nth-child(2) li {
          background: url(images/VectorSmartObject44.png) no-repeat;
          width: 50px;
          text-indent: -10px; }
          body header nav ul a:nth-child(2) li:hover, body header nav ul a:nth-child(2) li:focus {
            background-position: 0 -37px; }
        body header nav ul a:nth-child(3) li {
          background: url(images/VectorSmartObject55.png) no-repeat;
          height: 35px;
          width: 30px;
          text-indent: -1px; }
          body header nav ul a:nth-child(3) li:hover, body header nav ul a:nth-child(3) li:focus {
            background-position: 0 -35px; }
        body header nav ul a:nth-child(4) li {
          background: url(images/VectorSmartObject22.png) no-repeat;
          height: 38px;
          width: 35px;
          text-indent: -8px; }
          body header nav ul a:nth-child(4) li:hover, body header nav ul a:nth-child(4) li:focus {
            background-position: 0 -38px; }
        body header nav ul a:nth-child(5) li {
          background: url(images/VectorSmartObject11.png) no-repeat;
          height: 36px;
          text-indent: -8px; }
          body header nav ul a:nth-child(5) li:hover, body header nav ul a:nth-child(5) li:focus {
            background-position: 0 -36px; }
        body header nav ul a:nth-child(6) li {
          background: url(images/VectorSmartObject33.png) no-repeat;
          height: 39px;
          width: 31px;
          text-indent: -10px; }
          body header nav ul a:nth-child(6) li:hover, body header nav ul a:nth-child(6) li:focus {
            background-position: 0 -39px; }
        body header nav ul span {
          position: relative;
          top: 40px;
          font-style: normal;
          font-size: 12px;
          color: #c8c8c8;
          border-top: 2px solid white;
          padding-top: 55px;
          font-weight: 700; }
          body header nav ul span:hover, body header nav ul span:focus {
            border-color: red;
            color: red; }
        body header nav ul #VPS {
          padding-left: 5px;
          padding-right: 4px; }
  body #rectangle {
    width: 60px;
    height: 60px;
    float: right;
    margin: 35px;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(1, -0.48, 0, 1.58);
    -moz-transition: all 0.3s cubic-bezier(1, -0.48, 0, 1.58);
    transition: all 0.3s cubic-bezier(1, -0.48, 0, 1.58); }
    body #rectangle:hover .line1 {
      width: 22px;
      height: 4px;
      top: 25%; }
    body #rectangle:hover .line1:nth-child(3) {
      top: 75%; }
    body #rectangle .line1 {
      width: 20px;
      height: 3px;
      background-color: red;
      position: absolute;
      top: 30%;
      left: 33%;
      margin-bottom: 20%;
      -webkit-transition: all 0.3s cubic-bezier(1, -0.48, 0, 1.58);
      -moz-transition: all 0.3s cubic-bezier(1, -0.48, 0, 1.58);
      transition: all 0.3s cubic-bezier(1, -0.48, 0, 1.58); }
      body #rectangle .line1:hover {
        top: 25%;
        width: 22px;
        height: 4px; }
    body #rectangle .line1:nth-child(2) {
      top: 50%; }
    body #rectangle .line1:nth-child(3) {
      top: 70%; }
  body a {
    text-decoration: none; }
  body #menu {
    height: 100%;
    background-color: #cb0511;
    width: 20%;
    -webkit-transition: transform 0.7s cubic-bezier(1, -0.48, 0, 1.58);
    -moz-transition: transform 0.7s cubic-bezier(1, -0.48, 0, 1.58);
    transition: transform 0.7s cubic-bezier(1, -0.48, 0, 1.58);
    transform: translateX(calc(-100% - 10px));
    border-left: 3px solid red;
    color: #fff;
    z-index: 3;
    position: fixed; }
    body #menu.active {
      transform: translateX(0); }
    body #menu .exit {
      position: absolute;
      font-size: 17px;
      color: white; }
    body #menu h4 {
      text-align: center;
      text-shadow: 8px 6px 12px #000;
      font-size: 30px;
      text-transform: uppercase;
      margin-top: 20%;
      border-bottom: 2px solid white;
      width: 60%;
      margin-left: 21%;
      padding-bottom: 5%; }
    body #menu ul {
      margin: 0;
      list-style: none;
      padding: 0;
      padding-left: 8%; }
      body #menu ul li {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 10px;
        color: lavenderblush;
        width: 10%;
        text-indent: 15%; }

/*# sourceMappingURL=sheet.css.map */
